body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    padding-top: 50px;
}

h2 {
    color: #008080;
    margin-bottom: 20px;
}

p {
    background-color: #e6faff;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    max-width: 600px;
    margin: auto;
}

a {
    color: #ff4500;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
