{% extends "register_base.html" %}
{% block title %} reset password {% endblock %}
{% load static %}
{% block head %} <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}"> {% endblock %}
{% block content %}
  <div class="password-reset-form">
    <h2>Сброс пароля</h2>
    <p>Введите свой email, чтобы получить инструкции по сбросу пароля.</p>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Отправить</button>
    </form>
  </div>
{% endblock %}
