{% extends "register_base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new_password.css' %}">
<script src="{% static 'js/password_reset_confirm.js' %}" defer></script>
{% endblock %}

{% block title %} New password {% endblock %}

{% block content %}
    <div class="new-password">
        <h2>Введите новый пароль</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить новый пароль</button>
        </form>
    </div>
{% endblock %}
