{% extends "register_base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/password_change.css' %}">
<script src="{% static 'js/password_change_form.js' %}"></script>
{% endblock %}

{% block title %} Password Change {% endblock %}

{% block content %}
  <div class="password-change-form">
      <h2>Изменение пароля</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Изменить пароль</button>
      </form>
  </div>
{% endblock %}
