{% extends "register_base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_email.css' %}">
{% endblock %}
{% block title %} Password Reset {% endblock %}
{% block content %}
  <div class="email-container">
    <h2>Password Reset Request</h2>
    <p class="email-content">Someone has requested a password reset for your account. If this was not you, please ignore this email.</p>
    <p class="email-content">Otherwise, please click the link below to reset your password:</p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="button">Reset Password</a>
  </div>
{% endblock %}

